.list-group-item {
  border: none;
  color: white;
  text-align: left;
  background-color: transparent;
}

.list-group {
  background-color: green;
}

label {
  margin-top: revert;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

div {
  display: inline-block;
}

hr {
  margin: 10px;
  width: 90%;
}

col-2{
  text-align: end;
}
