.main-content {
  background-image: none;
  padding: 5% 25% 45%;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 10%;
  padding-top: 10%;
}

.btn-cent {
  text-align: center;
}
